/*===================ACHIEVEMENTS====================*/
.about__achievements{
    margin-top: 3rem;
}
.about__achievements-container{
    display: grid;
    grid-template-columns: repeat(40% 60%);
    gap: 5rem;
}
.about__achievements-right > p{
    margin: 1.5rem 2.5rem;
    color: var(--color-text2);
    line-height: 1.8;
}
.achievement__card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin-top: 2rem;
}